body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #282D35;
  background-image: url(./images/reactjs-icon-big.png);
  background-repeat: no-repeat;
  /* background-position-x: right;
  background-position-y: 80%; */
  background-position: right 80%;
}

